<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fougas.decoder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:name="android.support.multidex.MultiDexApplication"
    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activity.MainActivity" android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.support.PARENT_ACTIVITY"></action>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.DisplayActivity" android:screenOrientation="portrait"  />
        <activity android:name=".Activity.EndCallActivity" android:screenOrientation="portrait" />
        <activity android:name=".Activity.ParameterActivity" android:screenOrientation="portrait" ></activity>
        <activity android:name=".Activity.HelpActivity" android:screenOrientation="portrait" ></activity>
        <service android:name=".Service.SpeechService" android:screenOrientation="portrait" ></service>
        <service android:name=".Service.TranslateService" android:screenOrientation="portrait" ></service>
    </application>

</manifest>